* {
    font-family: 'Roboto' , sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 32px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #232b2b;
}


a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #85C8E2;
    transition: all 300ms ease;
}

ul {
    list-style-type: none;
}

input:hover {
    color: #8C8D8E;
}

.btn__menu {
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    display: none;
}

.btn__menu:hover {
    color: #85C8E2;
    transition: all 300ms ease;
    cursor: pointer;
}

.menu__backdrop {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 150vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    display: flex;
    margin-top: 24px;
    z-index: 2;
    visibility: visible;
    opacity: 1;
}


.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px
}


.menu__links {
    text-align: center;
}

.menu__link {

}

.menu__list {
    padding: 12px;
    font-weight: bold;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links--wrapper {
    font-size: 14px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.nav__link {
    margin: 0 24px;
}

.nav__link--secondary {
    margin-left: 42px;
    margin-right: 20px

}


.btn {
    border-radius: 9999px;
    border: none;
    color: #f2f2f2;
    background-color: #85C8E2;
    padding: 12px 32px;
    font-weight: bold;
    font-size: 16px;
}

.btn:hover {
    background-color: #6496A8;
    transition: all 300ms ease;
    cursor: pointer;
}

.logo__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 28px;
    margin-right: 24px;
}

.logo {
    height: 50px;
    filter: grayscale(1);
    margin-right: 16px;
}

.header__container {
    margin: 0 84px;
    padding: 96px 0;
    display: flex;
    line-height: 1.7;
}

.header__description {
    max-width: 40%;
}


.header__description--para {
    font-size: 18px;
    margin: 32px 0;
}

.header__input {
    display: flex;
    align-items: center;
}

.header__input:hover {
    color: red;
}


.header__input--text {
    padding-top: 20px;
    padding-right: 192px;
    padding-bottom: 20px;
    padding-left: 32px;
    border-radius: 9999px;
    border: solid 2px;
    border-color: #bec0c2;
    font-size: 14px;
}


.header__customers {
    margin-top: 80px;
    font-size: 12px;
    font-weight: bold;
    color: #8C8D8E
}

.header__customers--img {
    height: 35px;
    margin-top: 16px;
    padding-right: 128px;
}

.header__img {
    max-width: 60%;
    display: flex;
    justify-content: center;
}

.header__img--img {
    display: flex;
    max-width: 100%;
}

.header__btn {
    position: absolute;
    margin-left: 215px !important;
}

.blue {
    color: #85C8E2;
}

.caps {
    text-transform: uppercase;
}


.service__container {
    padding: 96px 0;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.service__container--wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 110px;
    margin-top: 40px;
}


.service__sub-title {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.service__title {
    display: flex;
    justify-content: center;
}

.service__para {
    max-width: 50%;
    color: #8C8D8E;
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.img__container {
    border: 1px solid #bec0c2 !important;
    border: 1px;
    border-radius: 9999px;
    text-align: center;
    padding: 20px;
    filter: grayscale(1);
    width: 66px;
    height: 66px;
}

.service__description--container {
    padding: 32px 8px;
    display: flex;
    width: calc(100% / 3);
}

.text__container {
    margin-top: 8px;
    margin-left: 16px;
}

.img__title {
    margin-top: 16px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .025rem;
}

.img__para {
    margin-top: 16px;
    line-height: 2;
    color: #8C8D8E;
}

.quality__container {
    display: flex;
    flex-direction: row-reverse;
    padding: 96px 0;
}


.quality__img {
    width: 99%;
    filter: grayscale(1);
    border: solid 2px grey;
    border-radius: 4px;
}

.quality__description--container {
    margin-right: 64px;
    width: 80%;
}

.quality__description--wrapper {
    padding: 32px 0;
}


.quality__title {
    margin-top: 16px;
}

.quality__para {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.625;
    color: #8C8D8E;
}

.quality__btn {
    margin-top: 32px;
}

.steps__container {
    display: flex;
    flex-direction: row;
}

.steps__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.steps__img {
    filter: grayscale(1);
    max-width: 100%;
    height: 80%;
}

.steps__description--container {
    margin-left: 64px;
}

.steps__description--wrapper {
    padding: 32px 0;
}


.steps__title {
    margin-top: 16px;
}

.steps__list--container {
    margin-top: 48px;
}

.steps__list {
    margin-top: 32px;
    display: flex;
}

.steps__num {
    font-size: 36px;
    line-height: 1;
    color: #bec0c2;
}

.step__description--container {
    margin-left: 24px;
    width: 55%;
}


.step__para {
    font-size: 14px;
    margin-top: 12px;
    color: #8C8D8E;
}

.values__container {
    padding: 96px 0;
    display: flex;
    flex-direction: row-reverse;
}

.values__img--container {
    width: 50%;
}

.values__img {
    width: 99%;
}

.values__description--wrapper {
    margin-right: 64px;
    width: 50%;
}

.values__description--container {
    padding: 32px 0;
}


.values__title {
    margin-top: 16px;
}

.values__para {
    margin-top: 32px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.625;
    color: #8C8D8E;
}

.values__blurb--container {
    display: flex;
    flex-direction: row;
    margin-bottom: 46px;
}

.blurb__one {
    margin-top: 32px;
    margin-right: 32px;
}

.blurb__two {
    margin-top: 32px;
    margin-right: 32px;
}

.blurb__top {
    display: flex;
    align-items: center;
}

.blurb__img--container {
    padding: 8px;
    border-radius: 9999px;
    display: flex;
}

.blurb__img {
    width: 20px;
    height: 20px;
}

.green {
    background-color: #9CEFC5;
    color: #14603a
}

.red {
    background-color: #EFAE9C;
    color: #973d24
}

.blurb__title {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
}

.blurb__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #8C8D8E;
}

.pricing__container {
    padding: 96px 0;
}

.pricing__header--wrapper {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pricing__sub-title {
    margin-bottom: 16px;
}

.pricing__title {
    font-weight: bolder;
}

.pricing__para {
    margin-top: 16px;
    font-size: 20px;
    color: #8C8D8E;
    width: 50%;
}

.plans__wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.personal__plan {
    margin-top: 64px;
    margin-right: 32px;
    border: solid .5px #cacccf;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 384px;
}

.personal__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.625;
    padding: 36px 0;
    border-bottom: 2px solid lightgray;
}

.pricing__description {
    margin: -32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
}

.business__plan {
    margin-top: 64px;
    margin-right: 32px;
    border: solid .5px #cacccf;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 384px;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.625;
    padding: 36px 0;
    color: white;
    border-bottom: 2px solid #4D72E8;
}

.business__duration {
    color: white !important;
}

.business__feature {
    color: white !important;
}

.business__pricing--description {
    color: white;
}

.enterprise__plan {
    margin-top: 64px;
    margin-right: 32px;
    border: solid .5px #cacccf;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 384px;
}

.enterprise__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.625;
    padding: 36px 0;
    border-bottom: 2px solid lightgray;
}


.buy--wrapper {
    padding: 32px 64px;
    text-align: center;
    border-top: 2px solid lightgray;
}

.business__buy--wrapper {
    border-top: 2px solid #4D72E8;
}

.personal__bar{
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.enterprise__bar {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(245, 178, 178) 100%) !important;
}

.bar {
    height: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-weight: bold;
    font-size: 48px;
    margin: 4px 0;
}

.duration {
    color: #bec0c2;
}

.main__feature {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .025em;
}

.feature {
    margin-top: 20px;
    color: #8C8D8E;
}

.buy__btn--1 {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.buy__btn--2 {
    background-color: white;
    color: rgb(100, 21, 255)
}

.buy__btn--2:hover {
    background-color: lightgray;
}

.buy__btn--3 {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(245, 178, 178) 100%) !important;
}

.testimonials__container {
    display: flex;
}

.testimonials__img--wrapper {
    width: 50%;
}

.testimonials__img {
    width: 100%;
}

.testimonials__description--wrapper {
    padding-left: 64px;
    width: 50%;
}


.testimonials__title {
    margin-top: 16px;
}

.testimonials__para {
    margin-top: 24px;
    font-size: 18px;
    color: #8C8D8E;
    line-height: 1.625;
}

.testimonials__ratings {
    margin-top: 40px;
    margin-bottom: 16px;
    color: rgb(234, 181, 35)
}


.testimonial__title {
    font-size: 18px;
    font-weight: bold;
}

.testimonial__para {
    margin-top: 16px;
    margin-bottom: 40px;
    color: #8C8D8E;
    line-height: 1.625;
}

.testimonial__bottom--wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.testimonial__img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 9999px;
}

.testmonial__name--wrapper {
    margin-left: 24px;
}

.testimonial__name {
    font-size: 20px;
    font-weight: bold;
}

.testimonial__position {
    margin-top: 8px;
    color: #8C8D8E;
}

.faqs__container {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqs__sub-title {
    text-align: center;
    margin-bottom: 16px;
}

.faqs__title {
    text-align: center;
    width: 100%;
    font-weight: bolder;
}

.faqs__para {
    text-align: center;
    color: #8C8D8E;
    font-size: 20px;
    max-width: 576px;
    margin-top: 16px;
}

.faqs__questions--wrapper {
    margin-top: 48px;
    max-width: 865px;
    width: 100%;
}

.faqs__question--box {
    padding: 16px 40px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #eef0f2;
}

.faqs__question--box:hover {
    background-color: #d9dbdd;
    transition: all 300ms ease;
}

.faqs__question {
    font-size: 20px;
    font-weight: bold;
}

.getstarted__container {
    padding: 96px 0;
    max-width: 1280px;
}

.getstarted__background--wrapper {
    padding: 96px 0;
    background-color: #85C8E2;
    border-radius: 8px;
}

.getstarted__text--wrapper {
    display: flex;
    padding: 0 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    align-items: center;
    text-align: left;
}

.getstarted__title--wrapper {
    width: 50%;
    max-width: 512px;
}   

.getstarted__title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.getstarted__btn--wrapper {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    max-width: 512px;
}

.getstarted__btn {
    padding: 20px 40px;
    margin-right: 32px;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #DF7AE2;
}

.getstarted__btn:hover {
    cursor: pointer;
    background-color: #E952EF;
    transition: all 300ms ease;
}

.contactus__btn {
    padding: 20px 40px;
    margin-right: 32px;
    border-radius: 9999px;
    border: 1px solid rgba(245, 245, 245, 0.614);
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #85C8E2;
}

.contactus__btn:hover {
    cursor: pointer;
    color: #85C8E2;
    background-color: whitesmoke;
    transition: all 300ms ease;
}

.footer__section--container {
    margin-right: -32px;
    margin-bottom: -32px;
    margin-left: -32px;
    background-color: #85C8E2;
    color: white;
}

.footer__columns--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin: 0 84px;
}

.footer__columns {
    margin-top: 48px;
}


.footer__links {
    margin-top: 24px;
}

.footer__link {
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
}

.links {
    color: white;
}

.links:hover {
    color: white;
    text-decoration: underline;
    transition: all 300ms ease;
}

.seperation__line {
    margin: 64px 84px;
    border: .75px solid #8c8d8ea8;
}

.footer__legal--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 84px;
    padding-bottom: 32px;
}

.footer__logo--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo--img {
    width: 32px;
    filter: grayscale(1);
}

.footer__logo--text {
    margin-left: 8px;
    font-size: 20px;
    font-weight: bolder;
}


.footer__socials--wrapper {
    display: flex;
}

.social__img {
    height: 16px;
    width: 16px;
    display: block;
}

.footer__social {
    cursor: pointer;
    margin-right: 16px;
    padding: 8px;
    background-color: white;
    border-radius: 9999px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 36px;
    }

    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }


    .header__container {
        max-width: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__description {
        max-width: 598px;
        text-align: center;
    }

    .header__input {
        justify-content: center;
    }

    .header__customers {
        justify-content: center;
    }

    .header__customers--img {
        padding-right: 0;
    }

    .header__img {
        width: 50%;
        margin-top: 24px;
    }

    .service__container {
        position: relative;
    }

    .service__container--wrapper {
        justify-content: center;
    }

    .service__description--container {
        min-width: 296px;
    }

    .quality__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quality__img--wrapper {
        width: 50%;
    }

    .quality__description--container {
        margin-right: 0;
        text-align: center;
    }

    .steps__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .steps__description--container {
        margin-left: 0;
        text-align: center;
    }

    .step__description--container {
        margin-left: 0;
    }

    .steps__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .values__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .values__description--wrapper {
        margin-right: 0;
        text-align: center;
    }

    .values__blurb--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0
    }

    .blurb__one {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blurb__two {
        margin-right: 0;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plans__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .personal__plan {
        margin-right: 0;
    }

    .business__plan {
        margin-right: 0;
    }

    .enterprise__plan {
        margin-right: 0;
    }

    .testimonials__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonials__description--wrapper {
        padding: 0;
        margin-top: 32px;
        text-align: center;
    }

    .testimonial__bottom--wrapper {
        display: flex;
        justify-content: center;
    }

    .getstarted__background--wrapper {
        padding: 48px 0;
    }

    .getstarted__text--wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .getstarted__title {
        margin-bottom: 32px;
    }

    .getstarted__btn--wrapper {
        justify-content: center;
    }

    .contactus__btn {
        margin: 0;
    }

    .footer__legal--wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer__logo--wrapper {
        padding-bottom: 24px;
    }

    .footer__logo--copywrite {
         padding-bottom: 24px;
    }
}